<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ppm.uqac.com.geekproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreationProfileActivity"
            android:label="@string/title_activity_creation_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QuestionaryActivity"
            android:label="@string/title_activity_creation_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewListActivity"
            android:label="@string/title_activity_view_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GeeklopedieActivity"
            android:label="@string/title_activity_geeklopedie2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <!-- Déclaration service -->
        <service
            android:name=".LoadProfileService"
            android:exported="false" />
        <service
            android:name=".GenerateQuestionaryService"
            android:exported="false" />
        <service
            android:name=".GenerateProfileService"
            android:exported="false" />


    </application>

</manifest>
