<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ppm.uqac.com.geekproject" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_api_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".start.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.CreationProfileActivity"
            android:label="@string/title_activity_creation_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionary.QuestionaryActivity"
            android:label="@string/title_activity_creation_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".start.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".mainmenu.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".geekactivity.ViewListActivity"
            android:label="@string/title_activity_view_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".geeklopedie.GeeklopedieActivity"
            android:label="@string/title_activity_geeklopedie2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- Déclaration service -->
        <service
            android:name=".profile.LoadProfileService"
            android:exported="false" />
        <service
            android:name=".questionary.GenerateQuestionaryService"
            android:exported="false" />
        <service
            android:name=".profile.GenerateProfileService"
            android:exported="false" />

        <service
            android:name=".profile.SaveProfileService"
            android:exported="false" />

        <activity
            android:name=".geekactivity.ViewListActivity2"
            android:label="@string/title_activity_view_list2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".questionary.QuestionarySummaryActivity"
            android:label="@string/title_activity_questionary_summary" >
        </activity>

        <activity android:name=".profile.ViewProfileActivity"></activity>
    </application>

</manifest>
